.view {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pagination {
  width: 100%;
}
.pagination ul {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 5px;
}
.pagination li {
  list-style: none;
}
.pagination li > * {
  height: 100%;
}

.pagination-curr {
  background-color: var(--color-bg);
  border-color: var(--color-primary);
  color: var(--color-primary);
}
