@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --color-fg: #000000;
  --color-bg: #ffffff;
  --color-bg2: #e5e5e5;
  --color-primary: #fca311;
  --color-secondary: #14213d;
}

body {
  margin: 0;
  font-family: "Ubuntu", "Segoe UI", "Roboto", "Oxygen",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-fg);
  background-color: var(--color-bg);

  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  padding: 3px 9px;
  color: var(--color-fg);
  background-color: var(--color-bg2);
  border: 2px var(--color-fg) solid;
  border-radius: 4px;
}
button:hover,
button:focus {
  background-color: var(--color-bg);
  border-color: var(--color-primary);
  color: var(--color-secondary);
}
